/* Please Make only Rhino and Zebra Blue */
.top {
    color: blue;
}

/* Please Make only Hufflepuff Gold */
.harryPotter {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */

html > body > .areDucksDinosaurs > .likesToQuack {
    color: red;
}

/* Please select Rhino with the highest level of specificity possible */

html > body > #hi > .top > #rhino {
    color: red;
}
